* {
    margin: 0;
    box-sizing: border-box;
}
header{
    background: rgb(233, 229, 229);
}
h1 {
    
    color: grey;
    font-size: 80px;
}
h5{
    height: -5%;
    width: 22%;
    color: rgb(71, 143, 71);
    font-size: 19px;
    text-align: right;
  
}