body{
    margin: 0;
    padding: 0;
}

.menu{
    margin: 0%;
    padding: 0%;
    width: 100%; 
    display: flex;
    float: right;  
}
h1{
    margin: 0s;
    font-size: 24px;
    width: 50%;
    height: 50%;
    font-family: arial;
    padding-top: 15px;
    padding-left: 120px;
}
ul{
    display: flex;
    margin: 0;
    background:rgb(35, 35, 61) ;
    width: 70%;
    height: 50%;
}

li{
    list-style-type: none;
    margin: 20px 20px;
    height: 10vh;
    background: rgb(35, 35, 61);
}
li a{
    float: right;
    text-decoration: none;
    display: block;
    padding: 8px;
    color: white;
    font-size: 14px;
    position: relative;
    font-family: Arial;
    top: 55%;
    left: 240px;
}

li a:hover{
    color: rgb(228, 228, 46);
}
.esfera{
    margin : 0;
    width: 30%;
    height: 16.5vh;
    color:rgb(35, 35, 61) ;
    background: rgb(231, 219, 42);
    float: right;
}
span{
    font-weight: bold;
}
section{
    height: 100vh;
    width: 100%;
}
video{
    object-fit: cover;
    width: 100%;
}


h2{
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 47%;
    transform: translateY(-50%);
    text-align: center;
    font-family: arial;
    font-size: 60px ;
}