body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #240229;
}

.loader{
    width: 500px;
    height: 500px;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: spin 1s infinite ease-in-out;
    position: relative;
    border-radius: 50%;
}

.loader::after{
    content: "";
    position: absolute;
    background: #240229;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}