* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background: rgb(61, 60, 60);
    height: 10vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.container {
    height: 80vh;
    background: white;
}

aside {
    height: 100%;
    background: silver;
    width: 20%;
    padding-top: 1%;
    float: left;
}

/* Se afectaran a todos los elementos llamados contenedorLinks que existen dentro de aside*/

aside>.contenedorLinks {
    height: 20%;
    width: 80%;
    margin: auto;
}

.contenedorLinks>a {
    display: block;
    font-size: 25px;
    color: blue;
    margin: 2px 0px;
}

section {
    width: 75%;
    float: left;
    height: 100%;
    padding-top: 3%;
    background: white;
}

h3 {
    font-size: 60px;
    width: 90%;
    margin: 5% auto;
}

.TextoPrincipal {
    font-size: 15px;
    width: 90%;
    margin: 10px auto;
    text-align: justify;
}

iframe {
    display: block;
    margin: auto;
}

footer {
    height: 10vh;
    background: rgb(61, 60, 60);
}

footer>p {
    
    color: white;
    font-size: 20px;
    text-align: center;
}