* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background: rgb(61, 60, 60);
    height: 15vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: 70px;

}

.container {
    height: 80vh;
    background: white;
}

aside {
    height: 100%;
    background: silver;
    width: 15%;
    padding-top: 15%;
    float: left;
}

aside>.contenedorLinks {
    height: 20%;
    width: 80%;
    margin: auto;
}

.contenedorLinks>a {
    display: block;
    font-size: 20px;
    font-style: arial;
    color: blue;
    margin: 2px 0px;
}

section {
    width: 75%;
    float: left;
    height: 100%;
    padding-top: 3%;
    background: white;
}

h3 {
    font-size: 58px;
    width: 95%;
    margin:  auto;
}

.TextoPrincipal {
    font-size: 22px;
    width: 90%;
    margin: 8px auto;
    text-align: justify;
    font-style: oblique;
}

iframe {
    display: block;
    margin: 8px auto;
}

footer {
    height: 5vh;
    background: rgb(61, 60, 60);
}

footer>p {
    
    color: white;
    font-size: 30px;
}

